.card .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #343a40;
    opacity: 0.3; /* Firefox */
}

.card .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #343a40;
    opacity: 0.35;
}

.card .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #343a40;
    opacity: 0.35;
}