{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


<div class="px-3 py-0 border-bottom bg-white sticky-top shadow">
        <div class="container d-flex flex-wrap justify-content-center">
        <ul class="nav nav-pills col-12 col-lg-auto my-2 justify-content-center my-md-0 text-secondary sticky-top">
        <li class="nav-item">
        <a href="#" class="nav-link"> Статьи</a>
        <a href="#" class="nav-link"> Профиль</a>
        <a href="#" class="nav-link"> Уведомления</a>
        <a href="#" class="nav-link"> Подписки</a>
        </li>
        </ul>
        </div>

                    <!-- PAGINATION -->
    <nav class="ml-4">
        <ul class="pagination">
            <li class="page-item disabled"><a href="#" class="page-link">Назад</a></li>
            <li class="page-item active"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">Вперед</a></li>
        </ul>
    </nav>
</div>


{% endblock %}