{% extends 'accountapp/base.html' %}
{% load static %}
{% load main_extras %}

{% block content %}

<style>
    .account .bg-primary {
        background-color: #3B727D !important;
    }
    .btn-outline-primary {
        color: #fff;
        color: #3B727D;
        border-color: #3B727D;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: #3B727D;
        border-color: #3B727D;
    }
</style>

<div class="account container content_wrapper">
    <div class="row pt-4">
        <div class="col-xl-8 col-xxl-9">

            <div class="row g-0 bg-primary overflow-hidden flex-md-row h-md-250 position-relative shadow">
                <div class="tab-content col p-3 text-white">
                    <h1 id="h-pills-posts" class="switchable-tab tab-pane fade show active fw-bold ">
                        <i class="fa-solid fa-pencil fa-xl me-3"></i>
                        Публикации
                    </h1>
                    <h1 id="h-pills-comments" class="switchable-tab tab-pane fade fw-bold">
                        <i class="fa-solid fa-comments fa-xl me-3"></i>
                        Комментарии
                    </h1>
                    <h1 id="h-pills-bookmarks" class="switchable-tab tab-pane fade fw-bold" >
                        <i class="fa-solid fa-bookmark fa-xl me-3"></i>
                        Закладки
                    </h1>
                    <h1 id="h-pills-subscriptions" class="switchable-tab tab-pane fade fw-bold">
                        <i class="fa-solid fa-hand-pointer fa-xl me-3"></i>
                        Подписки
                    </h1>
                </div>
            </div>

            <div class="row g-0 bg-white overflow-hidden flex-md-row mb-1 h-md-250 position-relative shadow overflow-visible">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link active" id="pills-posts-tab"
                            data-bs-toggle="pill" data-bs-target="#h-pills-posts"
                            type="button" role="tab"
                            aria-controls="pills-posts" aria-selected="true"
                        >
                            Публикации
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link" id="pills-comments-tab"
                            data-bs-toggle="pill" data-bs-target="#h-pills-comments"
                            type="button" role="tab"
                            aria-controls="pills-comments" aria-selected="false"
                        >
                            Комментарии
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link" id="pills-bookmarks-tab"
                            data-bs-toggle="pill" data-bs-target="#h-pills-bookmarks"
                            type="button" role="tab"
                            aria-controls="pills-bookmarks" aria-selected="false"
                        >
                            Закладки
                        </button>
                    </li>
                    {% comment %}
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link" id="pills-contact-tab"
                            data-bs-toggle="pill" data-bs-target="#h-pills-subscriptions"
                            type="button" role="tab"
                            aria-controls="pills-subscriptions" aria-selected="false"
                        >
                            Подписки
                        </button>
                    </li>
                    {% endcomment %}
                </ul>
                {% include 'accountapp/includes/inc_account_filters.html' %}
            </div>

            <div id="tab-content-block" class="tab-content mt-3">
                {% comment %}
                <div id="pills-posts" class="tab-pane fade show active">
                    {% include 'accountapp/includes/inc_account_posts.html' %}
                </div>
                <div id="pills-comments" class="tab-pane fade">
                    {% include 'accountapp/includes/inc_account_comments.html' %}
                </div>
                <div id="pills-bookmarks" class="tab-pane fade">
                    {% include 'accountapp/includes/inc_account_bookmarks.html' %}
                </div>
                <div id="pills-subscriptions" class="tab-pane fade">
                    {% include 'accountapp/includes/inc_account_subscriptions.html' %}
                </div>
                {% endcomment %}
            </div>

        </div>

        {% include 'accountapp/includes/inc_account_info.html' %}

    </div>
</div>

{% endblock %}

{% block script %}
{# <script src="{% static 'js/account.js' %}"></script> #}
<script src="{% static 'js/account_script.js' %}"></script>
{% endblock %}
