{% extends 'accountapp/base.html' %}
{% load static %}
{% load main_extras %}

{% block content %}

<style>
    .settings .bg-primary {
        background-color: #3B727D !important;
    }
    .btn-primary {
        color: #fff;
        background-color: #3B727D;
        border-color: #3B727D;
    }
    .btn-primary:hover {
        color: #fff;
        background-color: #105D6C;
        border-color: #105D6C;
    }
</style>

<div class="settings container content_wrapper">
    <div class="row pt-4">
        <div class="col-12">

            <div class="row g-0 bg-primary overflow-hidden flex-md-row h-md-250 position-relative shadow">
                <div class="col p-3 text-light">
                    <h1 id="" class="fw-bold">
                        <i class="fa-solid fa-bell fa-xl me-3"></i>
                        Уведомления
                    </h1>
                </div>
            </div>

            <div class="row g-0 bg-white overflow-hidden flex-md-row mb-1 h-md-250 position-relative shadow overflow-visible">
                <div class="" role="presentation">
                    {% include 'accountapp/includes/inc_account_filters.html' %}
                </div>
            </div>

            <div class="notifications mt-3">
                {% for notice in notifications %}
                    {% include 'accountapp/includes/inc_notice.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="position-absolute bottom-0 end-0 p-5" style="z-index: 11">
    <div class="toast align-items-center text-white bg-danger border-0 {% if 'success' in page %} showSuccess {% endif %}"
         data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000"
         role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body fs-5">
                {% if 'profile' in page %}
                Данные пользователя успешно обновлены.
                {% elif 'email' in page %}
                Email пользователя успешно обновлен.
                {% elif 'password' in page %}
                Пароль пользователя успешно обновлен.
                {% endif %}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}