{% extends 'accountapp/base.html' %}
{% load static %}
{% load main_extras %}

{% block content %}

  <div class="container content_wrapper">
    <div class="row pt-4">
      <div class="col-12">

        <div
          class="row g-0 bg-info opacity-50 overflow-hidden flex-md-row h-md-250 position-relative shadow"
        >
          <div class="tab-content col p-3 text-light">
            <h1 id="h-pills-profile" class="switchable-tab tab-pane fade show active fw-bold ">
              <i class="fa-solid fa-gear fa-xl me-3"></i>
              Профиль
            </h1>
            <h1 id="h-pills-security" class="switchable-tab tab-pane fade fw-bold">
              <i class="fa-solid fa-gear fa-xl me-3"></i>
              Безопасность
            </h1>
            <h1 id="h-pills-notifications" class="switchable-tab tab-pane fade fw-bold" >
              <i class="fa-solid fa-gear fa-xl me-3"></i>
              Уведомления
            </h1>
          </div>
        </div>

        <div
          class="row g-0 bg-white overflow-hidden flex-md-row mb-1 h-md-250 position-relative shadow overflow-visible"
        >
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active" id="pills-profile-tab"
                data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab"
                aria-controls="pills-profile" aria-selected="true"
              >
                Профиль
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link" id="pills-security-tab"
                data-bs-toggle="pill" data-bs-target="#pills-security"
                type="button" role="tab"
                aria-controls="pills-security" aria-selected="false"
              >
                Безопасноть
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link" id="pills-notifications-tab"
                data-bs-toggle="pill" data-bs-target="#pills-notifications"
                type="button" role="tab"
                aria-controls="pills-notifications" aria-selected="false"
              >
                Уведомления
              </button>
            </li>
          </ul>


        </div>

        <div
          class="tab-content mt-3"
        >
          <div id="pills-profile" class="tab-pane fade show active">
            {% include 'accountapp/includes/inc_settings_profile.html' %}
          </div>
          <div id="pills-security" class="tab-pane fade">
            {% include 'accountapp/includes/inc_settings_security.html' %}
          </div>
          <div id="pills-notifications" class="tab-pane fade"></div>

        </div>

      </div>

    </div>
  </div>



{% endblock %}

{% block script %}
    <script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}