<hr class="border-1 border-top border-secondary m-0">

<div id="filter-btn-group" class="tab-content m-0 py-0 px-3 bg-white">
    <div id="f-pills-posts" class="switchable-tab tab-pane fade show active">
        <div class="dropdown">
            <button
                id="filter-btn-posts"
                class="btn btn-sm dropdown-toggle"
                type="button" data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Все подряд
            </button>

            <ul class="dropdown-menu shadow" aria-labelledby="filter-btn-posts">
                <li>
                    <button id="filter-posts-all" data-filter="all" type="button" class="dropdown-item">
                        Все подряд
                    </button>
                </li>
                <li>
                    <button id="filter-posts-published" data-filter="published" type="button" class="dropdown-item">
                        Опубликовано
                    </button>
                </li>
                <li>
                    <button id="filter-posts-draft" data-filter="draft" type="button" class="dropdown-item">
                        Черновик
                    </button>
                </li>
                <li>
                    <button id="filter-posts-check" data-filter="check" type="button" class="dropdown-item">
                        На проверке
                    </button>
                </li>
                {% if user.is_staff %}
                <li>
                    <button id="filter-posts-deleted" data-filter="deleted" type="button" class="dropdown-item">
                        Удаленные
                    </button>
                </li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button id="filter-posts-new" type="button" data-filter="new" class="dropdown-item">
                        сначала новые
                    </button>
                </li>
                <li>
                    <button id="filter-posts-old" type="button" data-filter="old" class="dropdown-item">
                        сначала старые
                    </button>
                </li>
                <li>
                    <button id="filter-posts-title" type="button" data-filter="title" class="dropdown-item">
                        по названию
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div id="f-pills-comments" class="switchable-tab tab-pane fade">
        <div class="dropdown">
            <button
                id="filter-btn-comments"
                class="btn btn-sm dropdown-toggle"
                type="button" data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Комментарии
            </button>

            <ul class="dropdown-menu shadow" aria-labelledby="filter-btn-comments">
                <li>
                    <button id="filter-comments-comment" class="dropdown-item" type="button" data-filter="comment">
                        Комментарии
                    </button>
                </li>
                <li>
                    <button id="filter-comments-dialog" class="dropdown-item" type="button" data-filter="dialog">
                        Диалоги
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div id="f-pills-bookmarks" class="switchable-tab tab-pane fade">
        <div class="dropdown">
            <button
                id="filter-btn-bookmarks"
                class="btn btn-sm dropdown-toggle"
                type="button" data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Публикации
            </button>

            <ul class="dropdown-menu shadow" aria-labelledby="filter-btn-bookmarks">
                <li>
                    <button id="filter-bookmarks-post" class="dropdown-item" type="button" data-filter="post">
                        Публикации
                    </button>
                </li>
                <li>
                    <button id="filter-bookmarks-comment" class="dropdown-item" type="button" data-filter="comment">
                        Комментарии
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div id="f-pills-subscriptions" class="switchable-tab tab-pane fade">
        <div class="dropdown">
            <button
                id="filter-btn-subscriptions"
                class="btn btn-sm dropdown-toggle"
                type="button" data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Все подряд
            </button>

            <ul class="dropdown-menu shadow" aria-labelledby="filter-btn-subscriptions">
                <li>
                    <button id="filter-subscriptions-all" class="dropdown-item" type="button" data-filter="all">
                        Все подряд
                    </button>
                </li>
                <li>
                    <button id="filter-subscriptions-author" class="dropdown-item" type="button" data-filter="author">
                        Автор
                    </button>
                </li>
                <li>
                    <button id="filter-subscriptions-post" class="dropdown-item" type="button" data-filter="post">
                        Статья
                    </button>
                </li>
                <li>
                    <button id="filter-subscriptions-comment" class="dropdown-item" type="button" data-filter="comment">
                        Комментарий
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>