{% load main_extras %}

<div class="d-none d-xl-block col-xl-3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="card shadow">
        <div class="card-header">
            <span class="h6 text-secondary fw-bold">Правила</span>
        </div>
        <div class="card-body">
            <div class="d-flex-column align-items-center">
                <p>Дайте публикации понятный заголовок</p>

                <p>Выберите категорию поста</p>

                <p>Добавьте изображение по нажатию кнопки «Выбирете файл»</p>

                <p> Заполните аннотацию (краткое представленеи статьи), используя инструменты для форматирования текста</p>

                <p>Заполните тело публикации, используя инструменты для форматирования текста</p>

                <p>С помощью кнопки «Сохранить» выберите вариант сохранения:</p>
                  <p> - если всё в порядке, нажмите кнопку «Готово к публиуации»</p>
                  <p> - если еще нужно подумать нажмите кнопку «Сохранить в черновик» (Черновики видны только вам)</p>
                <p>При нажатии кнопки «Отмена» ваши заполненые данные будут удалены</p>
            </div>
        </div>
    </div>
</div>