{% load main_extras %}

<div class="row">
    <div class="col-xl-9">
        <div class="card mb-4 shadow">
            <div class="card-header text-secondary">Информация</div>
            <div class="card-body">
                <form id="profileForm" action="{% url 'account:settings_profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <span class="text-danger text-small opacity-75 text-decoration-none">
                        {{ edit_form.non_field_errors.as_text }}
                    </span>

                    <div class="mb-3">
                        <label class="small mb-1" for="{{ edit_form.username.id_for_label }}">Имя пользователя</label>
                        <span class="text-danger text-small opacity-75 text-decoration-none">
                            {{ edit_form.username.errors.as_text }}
                        </span>
                        {{ edit_form.username }}
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ edit_form.first_name.id_for_label }}">Имя</label>
                            <span class="text-danger text-small opacity-75 text-decoration-none">
                                {{ edit_form.first_name.errors.as_text }}
                            </span>
                            {{ edit_form.first_name }}
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ edit_form.last_name.id_for_label }}">Фамилия</label>
                            <span class="text-danger text-small opacity-75 text-decoration-none">
                                {{ edit_form.last_name.errors.as_text }}
                            </span>
                            {{ edit_form.last_name }}
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-5">
                            <label class="small mb-1" for="{{ profile_form.country.id_for_label }}">Страна</label>
                            <span class="text-danger text-small opacity-75 text-decoration-none">
                                {{ profile_form.country.errors.as_text }}
                            </span>
                              {{ profile_form.country }}
                        </div>
                        <div class="col-md-5">
                            <label class="small mb-1" for="{{ edit_form.birthday.id_for_label }}">Дата рождения</label>
                            <span class="text-danger text-small opacity-75 text-decoration-none">
                                {{ edit_form.birthday.errors.as_text }}
                            </span>
                            {{ edit_form.birthday }}
                        </div>
                        <div class="col-md-2">
                            <label class="small mb-1" for="{{ profile_form.gender.id_for_label }}">Пол</label>
                            <span class="text-danger text-small opacity-75 text-decoration-none">
                                {{ profile_form.gender.errors.as_text }}
                            </span>
                              {{ profile_form.gender }}
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="{{ profile_form.about_me.id_for_label }}">Обо мне</label>
                            <span class="text-danger text-small opacity-75 text-decoration-none">
                                {{ profile_form.about_me.errors.as_text }}
                            </span>
                            {{ profile_form.about_me }}

                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Сохранить" />
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-3">
        <div class="card mb-4 mb-xl-0 shadow">
            <div class="card-header text-secondary">Аватар</div>
            <div class="card-body pt-5 p-4 text-center">
                <form action="{% url 'account:settings' %}" method="post" enctype="multipart/form-data">
                    <img class="rounded-circle mb-3" src="{% get_avatar user %}" alt="avatar" style="width: 12rem; height: 12rem;">
                    <div class="font-italic text-muted text-small text-center opacity-75 mb-3">Размер изображения не более 2 Мб</div>
                    <div class="form-outline text-start">
                        <span class="text-danger text-small opacity-75 text-decoration-none">
                            {{ edit_form.avatar.errors.as_text }}
                        </span>
                        {{ edit_form.avatar }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
