{% for post in posts %}
    <div class="row p-1 g-0 bg-white overflow-hidden flex-md-row mb-3 h-md-250 position-relative shadow">

        <div class="p-2 col-auto d-none d-lg-block">
            <img
                src="{{ post.image.url }}"
                class="img-fluid"
                alt="Post image"
                width="77"
                height="105"
            >
        </div>

        <div class="col p-2 d-flex flex-column">

            <h5 class="">
                <a href="{% url 'post_page' post.pk %}" class="nav-link p-0 text-secondary">
                    {{ post.topic|capfirst }}
                </a>
            </h5>

            <div class="d-flex mb-1 text-small align-items-center">
                <span class="py-0 px-2 text-primary fw-bold me-2 border bg-light">{{ post.status|capfirst }}</span>
                <span class="date_info text-secondary">{{ post.created }}</span>
                <span class="p-0 text-secondary opacity-50 fw-bolder mx-3 mx-xxl-5"> {{ post.category|capfirst }} </span>
<!--              <span class="me-3 text-muted"><i class="me-1 fa-solid text-primary opacity-75 fa-eye"></i> {{ post.total_views }}</span>-->
<!--              <span class="me-3 text-muted"><i class="me-1 fa-regular text-primary opacity-75 fa-comment"></i> {{ post.total_comment }}</span>-->
<!--              <span class="me-3 text-muted"><i class="fa-regular text-primary opacity-75 fa-thumbs-up"></i> {{ post.total_likes }}</span>-->
<!--              <span class="me-3"><i class="me-1 fa-regular fa-bookmark text-primary opacity-50"></i> 4</span>-->
            </div>

            <div class="fw-light">
                {% if post.annotation %}
                    {{ post.annotation|truncatewords:16|safe }}
                {% else %}
                    {{ post.article|truncatewords:16|safe }}
                {% endif %}
            </div>
        </div>

        <div class="col-auto d-flex align-items-start direction-column me-3 mb-2 py-2">
            <a href="details.html" class="btn btn-outline-primary btn-sm px-3">
                <i class="fa-solid fa-ellipsis"></i>
            </a>
        </div>

        <div class="row p-0">
            <div class="d-flex text-small ms-3 mb-2">
              <span class="me-3 text-muted"><i class="me-1 fa-solid text-primary opacity-75 fa-eye"></i> {{ post.total_views }}</span>
              <span class="me-3 text-muted"><i class="me-1 fa-regular text-primary opacity-75 fa-comment"></i> {{ post.total_comment }}</span>
              <span class="me-3 text-muted"><i class="fa-regular text-primary opacity-75 fa-thumbs-up"></i> {{ post.total_likes }}</span>
              <span class="me-3"><i class="me-1 fa-regular fa-bookmark text-primary opacity-50"></i> 4</span>
            </div>
        </div>
    </div>
{% endfor %}