{% load i18n %}{% autoescape off %}
{% blocktrans %}Привет! Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ваше имя пользователя, если вы забыли:" %} {{ user.get_username }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}

{% endautoescape %}