{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}

<main class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow">
                    <div class="card-body px-5 py-4 ">
                        <div class="text-center mb-3 ">
                            <img src="{% static 'img/logo_2.png' %}" alt="KSW" height="42">
                        </div>
                        <h4 class="text-center mb-4">Забыли пароль?</h4>
                        <form id="reset-form" role="form" autocomplete="off" class="form" method="post">
                            {% csrf_token %}

                            <div class="mb-4">
                                <p class="d-inline">Введите адрес электронной почты чтобы сбросить его.</p>
                            </div>

                            <div class="mb-4">
                                <span class="text-danger text-small opacity-75 text-decoration-none">
                                {{ form.email.errors.as_text }}
                                </span>
                                {{ form.email }}
                            </div>

                            <div class="d-flex mt-1 mb-1">
                                <input class="btn btn-primary mt-1 me-3" type="submit" value="Сбросить">
                                <a href="{% url 'auth:login' %}" class="btn btn-outline-primary mt-1" type="button">Отмена</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

