{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="form-gap" style="padding-top: 70px;"></div>
    <div class="container">
    <a href="{% url 'index_page' %}" style="font-size: 25px;font-weight: 600;float:right">Назад</a>
    <h2 style="text-align-last: center;">Сброс пароля</h2>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Забыли пароль?</h2>
                  <p>Вы можете сбросить его здесь.</p>
                  <div class="panel-body">
                    <form id="reset-form" role="form" autocomplete="off" class="form" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input type="email" name="email"  placeholder="email address" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email">
                        </div>
                      </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {{field.name}}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                      <div class="form-group">
                         <button class="btn btn-lg btn-primary btn-block" type="submit">Сбросить пароль</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
{% endblock %}