{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
<main class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow">

                    <div class="card-body px-5 pb-5 py-4 ">
                        <div class="text-center mb-3 text-primary fs-1 fw-bold">
                            KSW
                        </div>
                        <h4 class="text-center">Сброс пароля</h4>
                        {% if validlink  %}
                        <form id="reset-form" role="form" autocomplete="off" class="form" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="small mb-1" for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                                <span class="text-danger text-small opacity-75 text-decoration-none">
                                    {{ form.new_password1.errors.as_text }}
                                </span>
                                <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1">
                            </div>
                            <div class="mb-4">
                                <label class="small mb-1" for="{{ form.new_password2.id_for_label }}">Повторите пароль</label>
                                <span class="text-danger text-small opacity-75 text-decoration-none">
                                    {{ form.new_password2.errors.as_text }}
                                </span>
                                <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2">
                            </div>
                            <div class="mt-2 mb-1">
                                <input class="btn btn-primary mt-2 me-3" type="submit" value="Изменить пароль">
                                <a href="{% url 'auth:login' %}" class="btn btn-outline-primary mt-2" type="button">Отмена</a>
                            </div>
                        </form>
                        {% else %}
                        <p>Сброс пароля не удался</p>
                        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.
                            Пожалуйста, запросите сброс нового пароля.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
