<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
          <a href="{% url 'index_page' %}" style="font-size: 25px;font-weight: 600;float:right;margin-top: -99px;
    margin-right: 50px;">Назад</a>
        <main>
            <p style="font-size: 25px;font-weight: 600;color:#fd5c63;margin-top: 160px;">Мы отправили вам ссылку для сброса пароля на вашу электронную почту. Пожалуйста, проверьте свою электронную почту.</p>
        </main>
    </body>

</html>