{% extends 'mainapp/base.html' %}
{% load static %}
{% load main_extras %}

{% block content %}

<style>
    span.point-events-none {
        cursor: pointer;
    }
    .point-events-none > i {
        pointer-events: none;
    }

    .help-page .bg-primary {
        background-color: #3B727D !important;
    }
</style>

<div class="help-page container content_wrapper">
    <div class="row pt-4">
        <div class="col-md-9">
            <div class="row g-0 bg-primary overflow-hidden flex-md-row h-md-250 mb-3 position-relative shadow">
                <div class="tab-content col p-3 text-white">
                    <h1 id="h-pills-posts" class="tab-pane fade show active fw-bold">
                        <i class="fa-solid fa-info-circle fa-xl me-3"></i> Помощь
                    </h1>
                </div>
            </div>
            <div class="row g-0 bg-white overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow">
                <div class="col p-4 pb-5 d-flex flex-column position-static">

                    <h2 class="h1 mb-4 text-primary active">Общие правила</h2>

                    <!--              Правила сайта-->
                    <h3 class="mb-4 text-secondary">На сайте запрещается:</h3>

                    <h5 class="mb-2">Заниматься плагиатом</h5>
                    <p class="mb-1 text-muted">Не следует копировать тексты, опубликованные другими людьми на других ресурсах,
                    но можно копировать собственные тексты, если они не нарушают правила ресурса.</p>

                    <h5 class="mt-3 mb-2">Путать сайт с Твиттером</h5>
                    <p class="mb-1 text-muted">Односложные публикации вида «Смотрите, какую я нашел ссылку»,
                    «Chrome обновился, вот тут чейнджлог» и подобное не приветствуются.
                    Даже если новость изначально короткая, постарайтесь сопроводить её развёрнутым комментарием.</p>
                    <h5 class="mt-3 mb-2">Путать сайт с жалобной книгой</h5>
                    <p class="mb-1 text-muted">Если у вас проблемы с сотовым оператором, с провайдером интернета или хостинга,
                    или с чем-то ещё, всегда можно связаться со службой поддержки нужного вам ресурса.
                    Или с компетентными органами.</p>

                    <h5 class="mt-3 mb-2">Путать сайт с имиджбордом</h5>
                    <p class="mb-1 text-muted">У нас не принято общаться изображениями. Изображение, иллюстрирующее вашу мысль,
                    должно сопровождаться текстовым комментарием, исключающим неоднозначность его трактовки.
                    Крупные изображения следует помещать под спойлер,
                    чтобы пользователям не приходилось тратить время на их пролистывание.</p>

                    <h5 class="mt-3 mb-2">Инициировать политические дискуссии и участвовать в них</h5>
                    <p class="mb-1 text-muted">Тематика нашего ресурса определена довольно чётко.
                    Для рассуждений о политике есть куда более подходящие сайты. </p>

                    <h5 class="mt-3 mb-2">Игнорировать правила русского языка, коверкать слова, злоупотреблять смайликами</h5>
                    <p class="mb-1 text-muted">Даже если русский язык был не самым вашим любимым предметом в школе
                    или не является родным — проверка орфографии в браузере у вас наверняка есть,
                    не стоит ею пренебрегать. Это сохранит как вашу карму от минусов, так и ваш аккаунт.
                    Смайлики и emoji допустимы в статьях (в умеренных количествах), но в заголовках их лучше не использовать.</p>

                    <h5 class="mt-3 mb-2">Оскорблять других пользователей, не следить за эмоциями</h5>
                    <p class="mb-1 text-muted">Мат, оскорбления, переходы на личности, эвфемизмы, троллинг — неприемлимо.
                    Пользователь лишается прав на публикации постов, коментариев.</p>

                    <h5 class="mt-3 mb-2">Создавать виртуалов</h5>
                    <p class="mb-1 text-muted">Всегда приятно поговорить с умным человеком, но создавать для этого добавочные аккаунты
                    и накручивать с них активность и рейтинг за публикации не стоит.</p>

                    <!--            Регистрация на сайте-->
                    <h2 class="h1 mt-4 mb-2 text-primary active">Регистрация на сайте</h2>

                    <h5 class="mt-3 mb-2">Регистрация учётной записи</h5>
                    <p class="mb-1 text-muted">Вы всегда можете пользоваться сайтом в режиме чтения, но регистрация учётной записи
                    откроет перед вами дополнительные возможности. <br> В процессе регистрации каждому пользователю
                    необходимо придумать уникальное имя (username), не занятое другими пользователями.
                    Помимо букв латинского алфавита username может содержать символ подчеркивания или дефис,
                    но не может начинаться или заканчиваться такими символами и не может содержать символ «.».<br>
                    При авторизации будет создан отдельный профиль с той информацией о пользователе, которую он посчитает
                    необходимым указать.</p>

                    <h5 class="mt-3 mb-2">Полномочия учётной записи</h5>
                    <p class="mb-1 text-muted">Читать материалы, опубликованные на сайте, добавлять их в закладки </p>
                    <p class="mb-1 text-muted">Оставлять комментарии к статьям, так же добавлять комментарии в закладки</p>
                    <p class="mb-1 text-muted">Ставить лайки статьям и комментариям </p>

                    <!--            Разделы сайта-->
                    <h2 id="list-item-2" class="h1 mt-4 mb-2 text-primary active">Основные разделы сайта</h2>

                    <h5 class="mt-3 mb-2">Главная страница</h5>
                    <p class="mb-1 text-muted">Когда вы заходите на главную страницу сайта, вам по умолчанию выводится список
                    последних опубликованных публикаций, которые были написаны пользователями. Главная страница состоит
                    из трех лент публикаций: лента последних постов, раздел топ авторов и архив,
                    где вы можете фильтровать по временному периоду. </p>

                    <h5 class="mt-3 mb-2">Личный Кабинет</h5>
                    <p class="mb-1 text-muted"> В Личном Кабинете пользователь может создать черновик статьи, отредактировать,
                    опубликовать, удалить, а так же просматривать список всех своих постов, комментариев и
                    закладок с быстрым переходом к первоисточнику. </p>
                    <p class="mb-1 text-muted">У каждого пользователя после регистрации появляется
                    рейтинг и активность. Рейтинг — это динамичный показатель, зависящий от активности пользователя на
                    сайте: все плюсы и минусы к публикациям и комментариям пользователя непосредственно отражаются
                    на суммарном показателе его рейтинга. При этом, оценки публикаций пользователя сказываются
                    на его рейтинге сильнее, чем оценки его комментариев.</p>
                    <p class="mb-1 text-muted">По сути, рейтинг это параметр, отражающий интерес сообщества к деятельности пользователя на ресурсе.
                    Если кто-то положительно оценивает публикации и комментарии пользователя,
                    то его рейтинг будет расти, но справедливо и обратное. Чем больше рейтинг участника,
                    тем выше он находится в общем рейтинге пользователей и рейтингах авторов
                    по отдельно взятым постам.</p>
                    <p class="mb-1 text-muted">Самые популярные авторы отображаются на главной странице в разделе «Лучшие Блоги».</p>

                    <h5 class="mt-3 mb-2">Комментарии</h5>
                    <p class="mb-1 text-muted">Комментировать публикации могут только зарегистрированные пользователи.
                    Комментарии к публикациям сортируются в хронологическом порядке.
                    Пользователь не может удалить отправленный комментарий и отредактировать.
                    Удалить опубликованный комментарий могут только модераторы и только в случае выявления факта
                    нарушения правил сайта. Если под удаляемым комментарием есть другие комментарии, то удаляется вся ветка.</p>

                    <!--            Настройки-->
                    <h2 id="list-item-3" class="h1 mt-4 mb-2 text-primary active">Настройки пользователя</h2>

                    <h5 class="mt-3 mb-2">Безопастность</h5>
                    <p class="mb-1 text-muted">Здесь можно сменить свой пароль, указать новую почту </p>

                    <h5 class="mt-3 mb-2">Профиль</h5>
                    <p class="mb-1 text-muted">Именно эта страница поможет установить аватар, задать отображаемое имя,
                    написать «О себе» ряд информации из профиля могут видеть другие пользователи. </p>

                    <h5 class="mt-3 mb-2">Уведомления</h5>
                    <p class="mb-1 text-muted">Всё, что связано с уведомлениями, которые сайт посылает вам на почту или в трекер. </p>

                    <!--            Админка-->
                    <h2 id="list-item-4" class="h1 mt-4 mb-2 text-primary active">Панель администрирования</h2>
                    <p class="mb-1 text-muted">Раздел доступный для модераторов и администраторов для манипуляций со статьями,
                    комментариями и пользователям.</p>
                </div>
            </div>
        </div>

{% include 'mainapp/includes/inc_sidebar.html' %}
    </div>
 </div>

{% endblock %}
