{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-9">

        {% for post in posts %}
        <div
          class="row g-0 bg-white overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow"
        >
          <div class="col p-3 d-flex flex-column position-static">
            <a href="#" class="nav-link p-0">
              <strong class="d-inline-block mb-2 text-primary">
                {{ post.category|capfirst }}
              </strong>
            </a>
            <h3 class="mb-1">
              <a href="{% url 'post_page' post.pk %}" class="nav-link p-0 text-secondary"
                >{{ post.title|capfirst }}</a
              >
            </h3>
            <div class="d-flex mb-2 text-small">
              <span class="author_info text-muted fw-bold me-2"
                ><a href="#" class="nav-link p-0 text-secondary text-muted"
                  >{{ post.author.first_name|capfirst }} {{ post.author.last_name|capfirst }}</a
                ></span
              >
              <span class="date_info text-muted">{{ post.data }}</span>
            </div>
            <p class="mb-auto">
              {{ post.text|truncatechars:240 }}
            </p>
            <div class="my-3">
              <a
                class="btn btn-outline-primary btn-sm d-inline"
                type="button"
                href="{% url 'post_page' post.pk %}"
              >
                Далее...
              </a>
            </div>
            <div class="text-muted">
              <span class="me-3"><i class="fa-solid fa-eye"></i> 2.4k</span>
              <span class="me-3"
                ><i class="fa-solid fa-comment"></i> 62</span
              >
              <span class="me-3"
                ><i class="fa-solid fa-thumbs-up"></i> 568</span
              >
            </div>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img
              src="https://source.unsplash.com/random/219x30{{ forloop.counter0 }}"
              class="img-fluid"
              alt="..."
            />
          </div>
        </div>
        {% endfor %}
      </div>
      {% include 'mainapp/includes/inc_sidebar.html' %}
    </div>
  </div>

{% endblock %}