{% extends 'mainapp/base.html' %}
{% load static %}
{% load main_extras %}

{% block content %}
<div class="container">
    <div class="row pt-4">
        <div class="col-lg-12 col-xl-9">
            {% for post in page_obj %}
            {# Each "post" is a Post model object. #}
            <div class="row g-0 bg-white overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow">
                <div class="col p-3 d-flex flex-column position-static">
                    <a href="{% url 'index_page' post.category.slug %}" class="nav-link p-0">
                        <strong class="d-inline-block mb-2 text-primary">
                            {{ post.category|capfirst }}
                        </strong>
                    </a>
                    <h3 class="mb-2">
                        <a href="{% url 'post_page' post.pk %}" class="nav-link p-0 text-secondary">
                            {{ post.topic|capfirst }}
                        </a>
                    </h3>

                    <div class="d-flex mb-3 text-small">
                        <a href="#" class="nav-link p-0 text-muted fw-bold me-2">
                            {{ post.author.first_name|capfirst }} {{ post.author.last_name|capfirst }}
                        </a>
                        <span class="date_info text-muted">{{ post.created }}</span>
                    </div>

                    <p class="mb-4 mb-lg-auto">
                        {% if post.annotation %}
                            {{ post.annotation|safe }}
                        {% else %}
                            {{ post.article|truncatewords:42|safe }}
                        {% endif %}
                    </p>
                    <div class="mb-4">
                        <a
                            class="btn btn-outline-primary  d-inline"
                            type="button"
                            href="{% url 'post_page' post.pk %}"
                        >
                            Далее...
                        </a>
                    </div>
                <div class="text-muted text-small">
                      <span class="me-3 "><i class="me-1 fa-solid text-primary opacity-50 fa-eye"></i> {{ post.total_views }}</span>
                      <span class="me-3 "><i class="me-1 fa-regular text-primary opacity-50 fa-comment"></i> {{ post.total_comment }}</span>
                      <span class="me-3 "><i class="text-primary opacity-50 fa-thumbs-up {% check_like post user %}"></i> {{ post.total_likes }}</span>
                      <span class="me-3"><i class="me-1 fa-regular fa-bookmark text-primary opacity-50"></i> 4</span>
                </div>
                </div>
                <div class="col-auto d-none d-lg-block p-3">
                    <img
                        src="{{ post.image.url }}"
                        class="img-fluid"
                        alt="post image"
                        width="198"
                        height="270"
                    >
                </div>
            </div>
            {% endfor %}

            {% if page_obj.paginator.num_pages > 1 %}
                <div class="row justify-content-center mt-3 mb-5">
                    <div class="col-auto">
                        <div class="paginator list-group list-group-horizontal shadow">
                            {% if page_obj.has_previous %}
                            <a class="list-group-item nav_prev_page" href="?page={{ page_obj.previous_page_number }}">
                                <
                            </a>
                            {% else %}
                            <div class="list-group-item" style="cursor: pointer;">
                                <span style="opacity: 0.4;"><</span>
                            </div>
                            {% endif %}
                            <span class="current list-group-item">
                            {{ page_obj.number }} из
                            {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                            <a class="list-group-item nav_next_page" href="?page={{ page_obj.next_page_number }}">
                                >
                            </a>
                            {% else %}
                            <div class="list-group-item" style="cursor: pointer;">
                                <span style="opacity: 0.4;">></span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>
        {% include 'mainapp/includes/inc_sidebar.html' %}
    </div>
</div>

{% endblock %}
