{% extends 'mainapp/base.html' %}
{% load static %}
{% load main_extras %}

{% block content %}
  <div class="container content_wrapper" data-post="{{post.pk}}">
    <div class="row pt-4">
      <div class="col-md-9">
        <div
          class="row g-0 bg-white overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow"
        >

          <div class="col p-3 d-flex flex-column position-static">
            <div class="d-flex mb-3 text-small align-items-center">

              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(18).webp" alt="avatar" width="40"
                height="40" />
              <span class="author_info text-muted fw-bold me-2"
                ><a href="#" class="nav-link p-0 text-secondary text-muted"
                  >{{ post.author.first_name|capfirst }} {{ post.author.last_name|capfirst }}</a
                ></span
              >
              <span class="date_info text-muted">{{ post.created }}</span>
            </div>
            <h1 class="mb-4 text-primary">{{post.topic}}</h1>
            <div class="mb-4">
                {{post.article|safe}}
            </div>
            <div class="row">
              <hr class="border-1 border-top border-secondary">
            </div>
            <div class="text-muted">
              <span class="me-3"><i class="me-1 fa-solid fa-eye text-primary opacity-50"></i> {{ post.total_views }}</span>
              <span class="me-3"><a href="#add_comment" class="text-decoration-none"><i class="me-1 fa-regular fa-comment opacity-50"></i></a> {{ post.total_comment }}</span>
              <span class="me-3 post_like " style="cursor: pointer;" data-csrf="{{ csrf_token }}"><i class="me-1 fa-thumbs-up opacity-50 text-primary {% check_like post user %}" style="pointer-events: none;"></i>
                <i>{{ post.total_likes }}</i></span>
            </div>
          </div>
        </div>
<!--        AUTHOR INFO   -->
        <div
          class="row g-0 bg-white overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow"
        >
          <div class="col p-3 d-flex flex-column position-static">
            <div class="d-flex mb-2 justify-content-between">
              <div class="d-flex text-small align-items-center">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(18).webp"
                  alt="avatar" width="40" height="40" />
                <div class="me-2 text-center text-small text-muted">
                  {% for item in activity %}
                  <span class="d-block fw-bold fs-5 text-warning">{{item.activity}}</span>
                  Активность
                </div>
                <div class="me-2 text-center text-small text-muted">
                  <span class="d-block fw-bold fs-5 text-success">{{item.rating}}</span>
                  Рейтинг
                </div>
                {% endfor %}
              </div>
            <div class="justify-content-md-end">
              <button class="btn btn-outline-primary btn-sm opacity-75" type="button"><i class="fa-solid fa-envelope"></i></button>
              <button class="btn btn-primary btn-sm opacity-75" type="button">Подписаться</button>
            </div>

            </div>
            <div class="mb-2">
              <span class="author_info fw-bold">
                {{ post.author.first_name|capfirst }} {{ post.author.last_name|capfirst }}
                <a href="#" class="p-0 text-decoration-none text-primary fw-normal">@{{ post.author.username }}</a>
              </span>
            </div>
            <div>
              <span class="author_info text-muted">
                {% if post.author.is_staff %}
                  Модератор
                {% else %}
                  Пользователь
                {% endif %}
              </span
              >
            </div>
          </div>
        </div>

        <!--        COMMENTS   -->
        <div
          class="row g-0 bg-white overflow-hidden flex-md-row border-1 border-bottom h-md-250 position-relative shadow"
        >
          <div class="card">
            <div class="card-header">
              <span class="h6 text-muted fw-bold me-2">Комментарии</span>
                <span class="h6 text-primary fw-bold">{{ post.total_comment }}</span>
            </div>

            <div class="card-body">

              {% if post.total_comment == 0 %}
                <div class="text-center my-4">
                  <span class="text-muted">Пока нет ни одного комментария</span>
                </div>
              {% else %}
                {% for comment_item in comments %}
                  <div class="row mb-4">
                    <div class="col">
                      <div class="d-flex mb-2 align-items-center">
                        <img class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1{{ forloop.counter0 }}).webp" alt="avatar" width="32"
                          height="32" />
                        <span class="author_info text-muted fw-bold me-2">
                          <a href="#" class="nav-link p-0 text-secondary text-muted">{{ comment_item.author.first_name|capfirst }} {{ comment_item.author.last_name|capfirst }}</a>
                        </span>
                        <span class="date_info text-small text-muted">{{ comment_item.created }}</span>
                      </div>

                      <div class="mt-1 mb-2">
                        {{ comment_item.comment }}
                      </div>

                      <div class="small d-flex justify-content-start">

<!--                        <a href="#!" class="d-flex align-items-center text-decoration-none">-->
<!--                          <span class="{% if forloop.counter == 2 %} fw-bold {% endif %} text-success fs-6">-->
<!--                            <i class="fa-solid fa-plus fa-2xs"></i>2</span>-->
<!--                        </a>-->

                        <a href="#!" class="d-flex align-items-center me-4">
                          <div class="mb-0">Ответить</div>
                        </a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
              <form action="{% url 'comment' 'post' post.pk %}" method="post" class="form-outline w-100">
                {% csrf_token %}
                <label for="add_comment" class="h6 text-muted fw-bold form-label">Написать комментарий</label>
                <textarea class="form-control" id="add_comment" name="comment_text" rows="5" style="background: #fff;"></textarea>
                <div class="mt-3">
                  <input type="submit" class="btn btn-primary btn-sm opacity-75 me-1" value="Отправить" >
                  <input type="button" class="cancel btn btn-outline-primary btn-sm opacity-75" value="Отмена" >
                </div>
              </form>
            </div>
{#            {% else %}#}
{#             <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">#}
{#             Только полноправные пользователи могут оставлять комментарии. Войдите, пожалуйста.#}
{#             </div>#}
          {% endif %}
          </div>
        </div>

      </div>


      {% include 'mainapp/includes/inc_sidebar.html' %}
    </div>
  </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/post.js' %}"></script>
{% endblock %}