{% extends 'mainapp/base.html' %}
{% load static %}
{% load main_extras %}

{% block content %}

<style>
    span.point-events-none {
        cursor: pointer;
    }
    .point-events-none > i {
        pointer-events: none;
    }

    .search-page .bg-primary {
        background-color: #3B727D !important;
    }
</style>

<div class="search-page container content_wrapper">
    <div class="row pt-4">
        <div class="col-xl-8 col-xxl-9">
            <div class="row g-0 bg-primary overflow-hidden flex-md-row h-md-250 position-relative shadow">
                <div class="tab-content col p-3 text-white">
                    <h1 id="h-pills-posts" class="tab-pane fade show active fw-bold">
                        <i class="fa-solid fa-magnifying-glass fa-xl me-3"></i>
                        Результаты поиска
                    </h1>
                </div>
            </div>
            <div class="row g-0 bg-white overflow-hidden flex-md-row mb-3 h-md-250 position-relative shadow overflow-visible">
                {% include 'mainapp/includes/inc_search_filters.html' %}
            </div>
            <div id="post-list" class="">
                {% include 'mainapp/includes/inc_search_items.html' %}
            </div>
        </div>
    {% include 'mainapp/includes/inc_sidebar.html' %}
        </div>
</div>

{% endblock %}
