{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}

<main class="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-12 col-md-10 col-lg-10 col-xl-8">
        <div class="card shadow">
          <div class="card-body p-5 pt-4 text-center">

            <form action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                <div class="text-center mb-3 text-primary fs-1 fw-bold">
                KSW
              </div>
                {% if edit_form.non_field_errors %}
                    <p class="text-danger text-small opacity-75 text-decoration-none">
                        {{ edit_form.non_field_errors.as_text }}
                    </p>
                {% else %}
                    <p class="mb-3 text-secondary fs-5 opacity-75">Профиль</p>
                {% endif %}
                {% csrf_token %}

                <div class="form-outline mb-4 text-secondary">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ edit_form.username.errors.as_text }}
                  </p>
                  {{ edit_form.username }}
                </div>

                <div class="form-outline mb-4 text-secondary">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ edit_form.first_name.errors.as_text }}
                  </p>
                  {{ edit_form.first_name }}
                </div>
                <div class="form-outline mb-4 text-secondary">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ edit_form.last_name.errors.as_text }}
                  </p>
                  {{ edit_form.last_name }}
                </div>

                <div class="form-outline mb-4 text-secondary">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                    <a href="{% url 'authapp:change_password' %}">Изменить пароль</a>
                  </p>
                </div>

                <div class="form-outline mb-4">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                    {{ edit_form.email.errors.as_text }}
                  </p>
                  {{ edit_form.email }}
                </div>

                <div class="form-outline mb-4 text-secondary text-start">
                  <label for="reg_age" class="col-form-label text-muted">Возраст</label>
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                    {{ edit_form.age.errors.as_text }}
                  </p>
                  {{ edit_form.age }}
                </div>

                <div class="form-outline mb-4 text-start">
                  <label for="reg_avatar" class="col-form-label text-muted">Фото</label>
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                    {{ edit_form.avatar.errors.as_text }}
                  </p>
                  {{ edit_form.avatar }}
                </div>

                <div class="form-outline mb-4 text-secondary">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ profile_form.tagline.errors.as_text }}
                  </p>
                  {{ profile_form.tagline }}
                </div>

                <div class="form-outline mb-4 text-secondary">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ profile_form.about_me.errors.as_text }}
                  </p>
                  {{ profile_form.about_me }}
                </div>

                <div class="form-outline mb-4">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ profile_form.gender.errors.as_text }}
                  </p>
                  {{ profile_form.gender }}
                </div>

                <div class="form-outline mb-4">
                  <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ profile_form.country.errors.as_text }}
                  </p>
                  {{ profile_form.country }}
                </div>

              <div class="form-outline text-start">
                <input type="submit" class="btn btn-primary btn-lg" value="Обновить" />
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!--  <div class="container">-->
<!--      <div class="row pt-4">-->
<!--          <div class="user_avatar">-->
<!--          <img src="/media/{{ user.avatar }}" class="rounded-circle">-->
<!--            </div>-->
<!--        <div class="row">-->
<!--            <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data" style="color: dodgerblue">-->
<!--            <div class="mx-auto col-5">-->

<!--                    {% csrf_token %}-->
<!--                    {{ edit_form.as_p }}-->
<!--                    {{ profile_form.as_p }}-->
<!--                    <input class="form-control" type="submit" value="сохранить">-->
<!--            </form>-->
<!--                <button class="btn btn-round form-control last">-->
<!--                <a href="{% url 'index_page' %}" class="">на главную</a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--  </div>-->

{% endblock %}



