{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
.card .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #343a40;
    opacity: 0.3; /* Firefox */
}

.card .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #343a40;
    opacity: 0.35;
}

.card .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #343a40;
    opacity: 0.35;
}
</style>

<main class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-5">
        <div class="card shadow">


          {% if success %}
          <div class="card-body p-4 text-end">
            <p class="text-center mb-3 text-secondary fs-4 opacity-75 w-100">Регистрация завершена</p>
            <p class="text-start mb-2">На почту, указанную при регистрации, отправлена ссылка для активации аккаунта.</p>
            <a href="{% url 'auth:login' %}" role="button" class="btn btn-primary mt-3 px-4">ОК</a>
          </div>

          {% else %}
          <div class="card-body p-5 pt-4 text-center">
            <form class="mb-2" action="{% url 'auth:register' %}" method="post" enctype=multipart/form-data>
              <div class="text-center mb-3 text-primary fs-1 fw-bold">
                KSW
              </div>
              {% if register_form.non_field_errors %}
                <p class="text-danger text-small opacity-75 text-decoration-none">
                    {{ register_form.non_field_errors.as_text }}
                </p>
              {% else %}
                  <p class="mb-3 text-secondary fs-5 opacity-75">Регистрация</p>
              {% endif %}
              {% csrf_token %}

              <div class="form-outline mb-4 text-secondary">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                {{ register_form.username.errors.as_text }}
                </p>
                {{ register_form.username }}
              </div>

              <div class="form-outline mb-4">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ register_form.email.errors.as_text }}
                </p>
                {{ register_form.email }}
              </div>

              <div class="form-outline mb-4">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                {{ register_form.password1.errors.as_text }}
                </p>
                {{ register_form.password1 }}
              </div>

              <div class="form-outline mb-5">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                {{ register_form.password2 }}
                </p>
              </div>

              <input type="submit" class="btn btn-primary btn-lg w-100" value="Зарегистрироваться" />

<!--              <div class="form-outline text-start">-->
<!--                <input type="submit" class="btn btn-primary" value="Зарегистрироваться" />-->
<!--              </div>-->

            </form>
          </div>
          {% endif %}


        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}