{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}

<main class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-5">
        <div class="card shadow">
          <div class="card-body p-5 pt-4 text-center">

            <form class="mb-2" action="{% url 'auth:register' %}" method="post" enctype=multipart/form-data>
              <div class="text-center mb-3 text-primary fs-1 fw-bold">
                <img src="{% static 'img/logo_2.png' %}" alt="KSW" height="42">
              </div>
              {% if register_form.non_field_errors %}
                <p class="text-danger text-small opacity-75 text-decoration-none">
                    {{ register_form.non_field_errors.as_text }}
                </p>
              {% else %}
                  <p class="mb-3 text-secondary fs-5 opacity-75">Регистрация</p>
              {% endif %}
              {% csrf_token %}

              <div class="form-outline mb-4 text-secondary">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                {{ register_form.username.errors.as_text }}
                </p>
                {{ register_form.username }}
              </div>

              <div class="form-outline mb-4">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                  {{ register_form.email.errors.as_text }}
                </p>
                {{ register_form.email }}
              </div>

              <div class="form-outline mb-4">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                {{ register_form.password1.errors.as_text }}
                </p>
                {{ register_form.password1 }}
              </div>

              <div class="form-outline mb-5">
                <p class="text-danger text-small opacity-75 text-decoration-none">
                {{ register_form.password2 }}
                </p>
              </div>
              <input type="submit" class="btn btn-primary btn-lg w-100" value="Зарегистрироваться" />
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}