{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<main class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow">
          <div class="card-body p-3 text-center">

            <div class="card-body text-end">
                <p class="text-center mb-3 text-secondary fs-4 opacity-75 w-100">{{ message_title }}</p>
                <p class="text-start mb-2">{{ message_body }}</p>
                <a href="{% url url_path %}" role="button" class="btn btn-primary mt-3 px-4">ОК</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

