{% load main_extras %}
{% load notifications_tags %}

<header class="">
  <div class="px-3 py-2 bg-primary text-light shadow">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex col-12 col-lg-auto align-items-center my-2 my-lg-0 me-lg-auto text-light text-decoration-none fs-1 fw-bold"
        >
          KSW
        </a>

        <form role="search" method="get" id="searchform" action="{% url 'search' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-5">
          <div class="input-group">
            <input
              name="q"
              type="search"
              class="form-control form-control-dark border-end-0"
              placeholder="Поиск..."
              aria-label="Search"
            />
            <button
              class="btn btn-outline-light border-start-0"
              type="search"
              id="button-addon2"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>

        {% if user.is_authenticated %}

        <div class="ms-1 dropdown text-end d-flex align-items-center">
          <a
            href="#"
            class="d-flex align-items-center text-light text-decoration-none"
            id="dropdownUser"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-offset="0, 16"
            style="min-height: 1.8rem;"
          >
            <i class="fa-solid fa-user fa-xl"></i>
            <span class="position-absolute top-0 start-100 translate-middle bg-danger border border-light rounded-pill text-small px-1 ms-1 text-start">
              {% live_notify_badge %}
            </span>
          </a>

          <ul
            class="dropdown-menu shadow"
            aria-labelledby="dropdownUser"
          >
            <li>
              <div class="dropdown-item d-flex align-items-center me-5">

                <img class="rounded-circle shadow-1-strong me-3"
                  src="{% get_avatar user %}" alt="avatar" width="32"
                  height="32" />
                <span class="fw-bold me-2">
                  <a href="#" class="p-0 text-decoration-none text-primary fw-normal">@{{ user.username }}</a>
                </span>
              </div>
            </li>

            <li>
                <hr class="dropdown-divider" />
            </li>

            <li>
                <a class="dropdown-item" href="{% url 'account:post_create' %}">
                  Создать статью
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'account:lk' user %}">
                  Личный кабинет
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'account:notifications' %}">
                  Уведомления
                </a>
            </li>
            {% if user.is_staff %}
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                  <a class="dropdown-item" href="/admin">
                    <i class="fa-solid fa-screwdriver-wrench text-primary opacity-50 me-2 fs-6"></i> Админка
                  </a>
              </li>

            {% endif %}

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
                <a class="dropdown-item" href="/help">
                  <i class="fa fa-info-circle text-primary opacity-50 me-2 fs-6"></i> Помощь
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'account:settings' 'profile' %}">
                  <i class="fa-solid fa-gear text-primary opacity-50 me-2 fs-6"></i> Настройки
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'auth:logout' %}">
                  <i class="fa-solid fa-right-from-bracket text-primary opacity-50 me-2 fs-6"></i> Выйти
                </a>
            </li>
          </ul>
        </div>
        {% else %}
          <div class="h-100 text-end">
          <a
            href="{% url 'auth:login' %}"
            class="d-flex align-items-center text-light text-decoration-none"
          >
            <i class="fa-regular fa-user fa-xl"></i>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>