<div class="col-md-3">
  <div class="" style="top: 2rem">
    <div class="p-4 bg-white mb-3 shadow">
      <h5 class="text-secondary mb-2">ЛУЧШИЕ БЛОГИ</h5>
      <ol class="list-unstyled">
        <li class="d-flex align-items-center mb-1 rounded-3">
          <img
            src="https://source.unsplash.com/random/40x41"
            class="img-fluid rounded-3"
            alt="..."
          />
          <a class="nav-link text-secondary" href="#">RUVDS.com</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <img
            src="https://source.unsplash.com/random/40x42"
            class="img-fluid rounded-3"
            alt="..."
          />
          <a class="nav-link text-secondary" href="#">Selectel</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <img
            src="https://source.unsplash.com/random/40x43"
            class="img-fluid rounded-3"
            alt="..."
          />
          <a class="nav-link text-secondary" href="#">VK</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <img
            src="https://source.unsplash.com/random/41x43"
            class="img-fluid rounded-3"
            alt="..."
          />
          <a class="nav-link text-secondary" href="#">GeekBrains</a>
        </li>
      </ol>
    </div>
    <div class="bg-white p-4 shadow">
      <h5 class="text-secondary">АРХИВ</h5>
      <ol class="list-unstyled mb-0">
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Апрель 2022</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Март 2022</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Январь 2022</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Декабрь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Ноябрь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Октябрь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#"
            >Сентябрь 2021</a
          >
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Август 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Июль 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Июнь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Май 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Апрель 2021</a>
        </li>
      </ol>
    </div>
  </div>
</div>