<header class="">
  <div class="px-3 py-2 bg-primary text-light shadow">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex col-12 col-lg-auto align-items-center my-2 my-lg-0 me-lg-auto text-light text-decoration-none fs-1 fw-bold"
        >
          KSW
        </a>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-5">
          <div class="input-group">
            <input
              type="search"
              class="form-control form-control-dark border-end-0"
              placeholder="Поиск..."
              aria-label="Search"
            />
            <button
              class="btn btn-outline-light border-start-0"
              type="button"
              id="button-addon2"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>


        {% if user.is_authenticated %}
        <div class="h-100 dropdown text-end">
          <a
            href="#"
            class="d-flex align-items-center text-light text-decoration-none dropdown-toggle text-small"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user fa-xl"></i>
          </a>
          <ul
            class="dropdown-menu text-small"
            aria-labelledby="dropdownUser1"
          >
            <li>
                <span class="dropdown-item fw-bold" >{{ user.username }}</span>
                <hr class="dropdown-divider" />
            </li>

            <li>
                <a class="dropdown-item" href="{% url 'auth:edit' %}">Личный кабинет</a>
            </li>
            <li>
                <a class="dropdown-item" href="/admin">Админка</a>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
                <a class="dropdown-item"  href="{% url 'auth:logout' %}">Выйти</a>

            </li>
          </ul>
        </div>
        {% else %}
          <div class="h-100 text-end">
          <a
            href="{% url 'auth:login' %}"
            class="d-flex align-items-center text-light text-decoration-none text-small"
          >
            <i class="fa-solid fa-user fa-xl"></i>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>