{% load main_extras %}

<div class="col-md-3">
  <div class="" style="top: 2rem">
    <div class="p-4 bg-white mb-3 shadow">
      <h5 class="text-secondary mb-2">ЛУЧШИЕ БЛОГИ</h5>
      <ol class="list-unstyled">

        {% for up in most_rated_users %}
        <li class="d-flex align-items-center mb-1 rounded-3">
          <div class="d-flex mb-3 text-small align-items-center">

            <img class="rounded-circle shadow-1-strong me-3"
              src="{% get_avatar up.user %}" alt="avatar" width="40"
              height="40" />
            <span class="author_info text-muted fw-bold me-2">
              <a href="#" class="nav-link p-0 text-secondary text-muted">
                {{ up.user.first_name|capfirst }} {{ up.user.last_name|capfirst }}
              </a>
            </span>
            </div>
        </li>
        {% endfor %}

      </ol>
    </div>
    <div class="bg-white p-4 shadow">
      <h5 class="text-secondary">АРХИВ</h5>
      <ol class="list-unstyled mb-0">
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Апрель 2022</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Март 2022</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Январь 2022</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Декабрь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Ноябрь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Октябрь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#"
            >Сентябрь 2021</a
          >
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Август 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Июль 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Июнь 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Май 2021</a>
        </li>
        <li class="d-flex align-items-center mb-1 rounded-3">
          <a class="nav-link text-secondary" href="#">Апрель 2021</a>
        </li>
      </ol>
    </div>
  </div>
</div>